

.contenedorPersonajes{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.contenedorPersonaje{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Paginator{
  margin: auto;
  text-align: center;
}
.worlds{
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.world{
  display: flex;
  justify-content: center;
}
.residents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.listEpisodes{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  max-height: 70px;
}